@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol li {
  list-style-position: inside;
}
ol li::marker {
  font-weight: 600;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* VUE DESIGN SYSTEM SPACING HELPERS
--------------------------------------------- */
/*
  INSET-SPACE: For interface containers.
  INSET-SQUISH-SPACE: For buttons, form elements, cells.
  STACK-SPACE: For vertically stacked content.
  INLINE-SPACE: For things displayed inline.
*/
/* GLOBAL MIXINS
--------------------------------------------- */
/* AUTO SCALING FOR TYPE WITH MIN/MAX SIZES

  @param {Number}  $responsive  - Viewport-based size
  @param {Number}  $min         - Minimum font size (px)
  @param {Number}  $max         - Maximum font size (px) (optional)

  @param {Number}  $fallback    - Fallback for viewport-based units (optional)

  @example SCSS - 5vw size, 35px min & 150px max size + 50px fallback:

  @include responsive-font(5vw, 35px, 150px, 50px);
*/
/* GLOBAL FUNCTIONS
--------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, strong, span, i, ul, li {
  color: #4f4f4f;
}

p, ol, ul, li, a {
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  margin-bottom: 20px;
}

.button span,
button span {
  font-size: 16px;
  line-height: 16px;
}

a {
  position: relative;
}
a.external {
  display: inline-flex;
  padding: 10px 33px 10px 16px;
}
a.external:after {
  position: absolute;
  content: "";
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='external-link' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath id='arrow' fill='%23FFFFFF' d='M511.9292603,2.9698486C512,1.3435059,510.6564941,0,508.9594116,0L280.0689697,0.0707397 C278.442627,0,277.0991211,1.3435059,277.0991211,3.0405884l0.1414185,47.2346802 c0,1.6970825,1.3435059,3.0405884,3.0405884,3.0405884l136.0473022-1.838501 c2.616333-0.0706787,4.0305176,3.1820068,2.1213379,5.0911865L242.3094482,232.7088623 c-1.2020874,1.2020874-1.2020874,3.0405273,0,4.2426147l32.5269165,32.5269165c1.2020874,1.2020874,3.0405884,1.2020874,4.2426758,0 L455.572876,92.9845581c1.9091797-1.9092407,5.0911865-0.5656738,5.0911865,2.1212769l-1.838501,136.7544556 c0,1.6970825,1.3435059,3.0405884,3.1113281,2.9698486h47.0932617C510.6564941,234.9008789,512,233.557373,512,231.8602905 L511.9292603,2.9698486z'/%3E%3Cpath id='box' fill='%23FFFFFF' d='M393.5952148,459H56c-1.6568527,0-3-1.3431396-3-3V118.4052734c0-1.6568527,1.3431473-3,3-3 h157.4873047c1.6568604,0,3-1.3431473,3-3v-47c0-1.6568527-1.3431396-3-3-3H3c-1.6568543,0-3,1.3431473-3,3V485.5V509 c0,1.6568604,1.3431457,3,3,3h23.5h420.0952148c1.6568604,0,3-1.3431396,3-3V298.5136719c0-1.6568604-1.3431396-3-3-3h-47 c-1.6568604,0-3,1.3431396-3,3V456C396.5952148,457.6568604,395.2520752,459,393.5952148,459z'/%3E%3C/svg%3E");
}

.tabs-group .tabs {
  margin: 0;
}
.tabs-group .tabs ul {
  border-bottom: 1px solid #e6e6e6;
}
.tabs-group .tabs ul li {
  padding: 12px 16px 8px 16px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #8f8f8f;
}
.tabs-group .tabs ul li.active, .tabs-group .tabs ul li:hover, .tabs-group .tabs ul li:focus {
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid transparent;
  color: #1e5aae;
}
.tabs-group .tab-content {
  width: 100%;
  padding: 0 !important;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.tabs-group .tab-content .tab-pane {
  padding: 20px;
}
.tabs-group.vertical-left {
  display: flex;
}
.tabs-group.vertical-left .tabs {
  margin: 0 40px 0 0;
  padding: 0 40px 0 0;
  border-right: 1px solid #e6e6e6;
}
.tabs-group.vertical-left .tabs ul {
  flex-direction: column;
  width: max-content;
  border: none;
}
.tabs-group.vertical-left .tabs ul li {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #4f4f4f;
  border: none;
}
.tabs-group.vertical-left .tabs ul li.active, .tabs-group.vertical-left .tabs ul li:hover, .tabs-group.vertical-left .tabs ul li:focus {
  background: transparent;
  border-radius: 0;
  border: none;
  color: #1e5aae;
}
.tabs-group.vertical-left .tab-content {
  width: 100%;
  padding: 0;
}
.tabs-group.vertical-left .tab-content .tab-pane {
  padding: 0;
}

.crumbs {
  z-index: 1;
  position: fixed;
  top: 90px;
  width: 100%;
  padding: 5px 0;
  background: white;
  border-bottom: 1px solid #dbdbdb;
}

form input, form textarea, form option, form select {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
}
form textarea {
  white-space: pre-line;
  height: auto;
  min-height: auto;
}
form input[disabled] {
  color: #4f4f4f;
}
form .field-group.select label {
  width: 100%;
}
form h3 {
  border-bottom: 1px solid #dbdbdb;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
form label {
  display: block;
  color: #686868;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin: 0 0 5px 0 !important;
}
form button {
  background: #4caf50;
  margin: 0 10px 0 0;
  padding: 5px 20px;
}
form footer {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
form footer button {
  background-color: #4caf50;
}
form footer button:hover, form footer button:focus {
  background-color: #449d48;
}
form footer a {
  color: #828282;
  font-weight: 600;
  text-decoration: none;
}
form footer a:hover, form footer a:focus {
  color: #4f4f4f;
}

blockquote {
  border-left: 2px solid #bfbfbf;
  padding: 0 0 0 20px;
  margin: 0 0 20px 10px;
}

button,
.button {
  padding: 6px 14px;
  font-size: 16px;
  line-height: 16px;
  background: #1e5aae;
  border-color: #13386d;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  backround: #1a4f98;
}
button.crop-image,
.button.crop-image {
  border-color: #357a38;
  background: #4caf50;
}
button.reset-image,
.button.reset-image {
  border-color: #357a38;
  background: #f5a300;
}
button.remove-image,
.button.remove-image {
  border-color: #831a0c;
  background: #c92813;
}

.alert {
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 0 10px 0;
}
.alert.error {
  background: #f7b6ad;
  color: #8d2316;
}
.alert.message {
  background: #ffe6a6;
  color: #6b4d00;
}
.alert ul {
  margin: 0;
  padding: 0;
}
.alert ul li {
  margin: 0 0 10px 0;
  padding: 0;
}
.alert ul li:last-of-type {
  margin: 0;
}

header {
  background: white;
  border-top: 4px solid #1e5aae;
  padding: 15px 20px 13px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 767px) {
  header {
    display: flex !important;
    flex-wrap: wrap;
    padding: 5px !important;
  }
}
header div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
}
header ul {
  list-style: none;
  margin: 0;
}
@media (max-width: 767px) {
  header ul li,
header ul a {
    font-size: 14px;
  }
}
header a {
  text-decoration: none;
}
header a.logo {
  display: block;
  width: 200px;
  margin: 0 20px 0 0;
}
@media (max-width: 767px) {
  header a.logo {
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath id='logo' d='M59.11648.17917V18.62889l9.14441-9.00583V28.95159L59.133,37.518l-9.16364-9.66562L39.72372,37.51666,30.788,28.2918V9.84209l9.14579,9.00583V.3982L39.82532.17241,49.96245,9.40268ZM22.312,14.89514,16.066,8.74343v7.90664H8.92762l6.24594,5.93132-6.02077,5.711H27.97986V9.73447Zm62.9007,7.86905,6.24594-6.15171H83.43047V9.58466l-6.02351,6.149L71.60726,9.805V28.344H90.45355Zm-36.17,68.178,10.13713,9.23027L59.0713,99.948V81.49691l9.14579,9.00583V72.053l-8.93572-9.22485-10.247,9.66426-9.16227-9.66562-9.12932,8.56778V90.72176l9.14579-9.00583v18.44972ZM76.69174,85.451,82.93906,91.6V83.69475h7.137l-6.24457-5.93133,6.02076-5.71095H71.02523V90.61035ZM13.79242,77.58266,7.54648,83.733h8.02814v7.02781l6.02351-6.149,5.7997,5.92862V72.00151H8.55154Zm-4.4187-27.642L0,59.92266l.2293-.1068H18.96574L9.82,68.82168H28.5564l9.36823-8.799L28.11016,49.93256l9.81584-9.022L29.22644,31.9209H9.59752l9.14579,9.00583H.00687Zm81.25256.84569L100,40.803l-.2293.10681H81.03562L90.18,31.904H71.44359l-9.36823,8.80032,9.81446,10.0888L62.074,59.81519l8.69955,8.9896H90.40246L81.258,59.80031H99.99449Z' fill='%23265baa'/%3E%3C/svg%3E");
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
  }
  header a.logo img,
header a.logo svg {
    display: none;
  }
}
header a.logo img {
  height: 55px;
}
header a.app-name {
  border-left: 2px solid #dbdbdb;
  color: #4f4f4f;
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 0 5px;
  padding: 0 0 0 20px;
}
header a.app-name span.mobile {
  display: none;
}
@media (max-width: 767px) {
  header a.app-name {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 10px;
  }
  header a.app-name span.mobile {
    display: block;
  }
  header a.app-name span.full {
    display: none;
  }
}
header nav {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 0 0 auto;
}
header nav#navigation ul li a {
  color: #4f4f4f;
}
header nav.navigation-dropdown {
  margin: 0 0 0 20px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
}
header nav.navigation-dropdown summary {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  will-change: transform;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  margin: 0;
  padding: 0 8px;
  border: 0;
  border-radius: 3px;
  background: #1e5aae;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  cursor: pointer;
}
header nav.navigation-dropdown ul {
  z-index: 10;
  background: #fff;
  border: 1px solid #dbdbdb;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  min-width: 100px;
  list-style: none;
  border-radius: 3px;
  width: max-content;
  right: 0;
}
header nav.navigation-dropdown ul li {
  padding: 0 10px;
}
header nav.navigation-dropdown ul li:hover, header nav.navigation-dropdown ul li:focus {
  background: #f2f2f2;
}
header nav.navigation-dropdown ul li a {
  display: inline-block;
  padding: 5px 0;
  width: 100%;
  color: #373737;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: 1.3;
}
@media (max-width: 767px) {
  header .navigation-dropdown {
    display: none;
  }
}

html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background: #1e5aae;
}
body.address-popup {
  padding: 20px;
  background: white;
}
body.address-popup #modal-container {
  margin: 20px 0 0 0;
}
body.address-popup .alert {
  margin: 10px 0;
}
body.address-popup .button,
body.address-popup button[type=button] {
  display: inline-block;
  background: #4f4f4f;
  color: white;
  border-radius: 3px;
}
body.address-popup #addressSearchForm legend {
  display: none;
}
body.address-popup #searchResults ul {
  margin: 0 0 10px 0;
  padding: 0;
}
body.address-popup #searchResults ul li {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #dbdbdb;
}
body.address-popup #searchResults ul li:nth-child(even) {
  background: whitesmoke;
}
body.address-popup #searchResults ul li:last-of-type {
  border-bottom: none;
}
body.address-popup #searchResults table {
  width: 100%;
  margin: 0 0 10px 0;
}
body.address-popup #searchResults table caption {
  text-align: left;
  margin: 0 0 10px 0;
  font-weight: 500;
}
body.address-popup #searchResults table tr {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #dbdbdb;
}
body.address-popup #searchResults table tr:nth-child(even) {
  background: whitesmoke;
}
body.address-popup #searchResults table tr:last-of-type {
  border-bottom: none;
}
body.staff {
  background: white;
}
body.staff header {
  border-bottom: 1px solid #dbdbdb;
}
body.staff.login {
  background: #1e5aae;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dbdbdb;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

p,
li {
  font-size: 16px;
  line-height: 20px;
}

ul,
ol {
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}
ul li,
ol li {
  margin: 0 0 10px 0;
}
ul li input,
ol li input {
  width: auto;
}
ul li strong,
ol li strong {
  color: #292929;
}
ul li:last-of-type,
ol li:last-of-type {
  margin: 0;
}

a {
  color: #1e5aae;
  text-decoration: none;

}
a:hover, a:focus {
    color: #4f4f4f;

}

a.btn {
    color: white;
    background-color: #4caf50;
}
a.btn:hover, a.btn:focus {
    color: white;
}




form input,
form textarea {
  border: 1px solid #dbdbdb;
}
form textarea {
  width: 100%;
}
form input {
  width: 100%;
}
form input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
form input[type=submit]:focus, form input[type=submit]:hover {
  background: #449d48;
}
form button {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 10px 0;
}
form fieldset {
  color: #4f4f4f;
  margin: 0 0 20px 0;
}
form fieldset:last-of-type {
  margin: 0;
}
form fieldset span {
  color: #4f4f4f;
}
form fieldset input {
  margin: 0 0 10px 0;
}
form fieldset legend {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.field-group {
  margin: 0 0 20px 0;
  width: 100%;
}
.field-group.checkbox {
  display: flex;
  align-items: center;
}
.field-group.checkbox input[type=checkbox] {
  width: auto;
  margin: 0 10px 0 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.block {
  display: block;
}

main.public-questions-wrapper {
  width: 520px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(70, 70, 70, 0.3);
}
@media (max-width: 767px) {
  main.public-questions-wrapper {
    width: calc(100% - 40px);
  }
}
main.public-questions-wrapper p {
  margin: 0 0 10px 0;
}
main.public-questions-wrapper p strong {
  font-weight: 500;
}
main.public-questions-wrapper #questions .question p {
  font-weight: 600;
  color: #5c5c5c;
}
main.public-questions-wrapper #questions .question form ul {
  display: flex;
}
main.public-questions-wrapper #questions .question form ul li {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
}
main.public-questions-wrapper #questions .question form ul li input {
  margin: 0 5px 0 0;
  width: max-content;
}
main.public-questions-wrapper #finalStep ul {
  padding: 0;
  margin: 0;
}
main.public-questions-wrapper #finalStep ul li a {
  display: inline-block;
  background: #4caf50;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 500;
}
main.public-questions-wrapper #finalStep ul li a:hover, main.public-questions-wrapper #finalStep ul li a:focus {
  background: #449d48;
}
main.login {
  height: calc(100% - 81px);
  display: flex;
  align-items: center;
  justify-content: center;
}
main.login .login-wrapper {
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  background: white;
  width: 350px;
}
main.login .login-wrapper .logo {
  padding: 20px;
  height: 114px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-position: center center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 313.03968 73.9632'%3E%3Cg%3E%3Cpath d='M118.02734,47.99721l2.55762.646a8.60961,8.60961,0,0,1-2.89355,4.80518,7.97246,7.97246,0,0,1-5.10889,1.65478,9.18222,9.18222,0,0,1-5.08252-1.272,7.94744,7.94744,0,0,1-2.97949-3.68506A13.14737,13.14737,0,0,1,103.499,44.965a11.38767,11.38767,0,0,1,1.15332-5.2666,7.90578,7.90578,0,0,1,3.28321-3.415,9.59441,9.59441,0,0,1,4.68652-1.1665A7.92315,7.92315,0,0,1,117.5,36.5934a7.66781,7.66781,0,0,1,2.75537,4.15283l-2.51807.59326a5.973,5.973,0,0,0-1.95117-3.07177,5.19932,5.19932,0,0,0-3.21679-.96241,6.24931,6.24931,0,0,0-3.72461,1.06787,5.64018,5.64018,0,0,0-2.10254,2.86719,11.54765,11.54765,0,0,0-.60645,3.71143,11.77991,11.77991,0,0,0,.71875,4.3042,5.34822,5.34822,0,0,0,2.23438,2.749,6.267,6.267,0,0,0,3.28271.90967,5.5008,5.5008,0,0,0,3.63867-1.23926A6.34212,6.34212,0,0,0,118.02734,47.99721Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M124.1709,54.77357V35.44643h2.55762V54.77357Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M136.15479,54.77357V37.72719h-6.36768V35.44643h15.31934v2.28076h-6.394V54.77357Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M153.1748,54.77357v-8.187l-7.44873-11.14013h3.11133l3.81006,5.82714q1.0547,1.63477,1.96436,3.26954.8701-1.51613,2.10937-3.41455l3.74414-5.68213h2.97949l-7.7124,11.14013v8.187Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M172.00342,45.36049a10.50213,10.50213,0,0,1,2.584-7.53418,8.786,8.786,0,0,1,6.67139-2.72266,9.25345,9.25345,0,0,1,4.82422,1.27881,8.35138,8.35138,0,0,1,3.27637,3.56592,11.57861,11.57861,0,0,1,1.12792,5.188,11.38858,11.38858,0,0,1-1.1875,5.26025,8.10011,8.10011,0,0,1-3.36132,3.51367,9.60486,9.60486,0,0,1-4.69336,1.19287,9.1388,9.1388,0,0,1-4.87793-1.31835,8.48382,8.48382,0,0,1-3.25635-3.59913A10.90743,10.90743,0,0,1,172.00342,45.36049Zm2.63672.03955a7.74546,7.74546,0,0,0,1.87841,5.50439,6.5541,6.5541,0,0,0,9.46583-.02,8.207,8.207,0,0,0,1.86621-5.76123,9.91143,9.91143,0,0,0-.79786-4.12011,6.128,6.128,0,0,0-2.334-2.72852,6.32048,6.32048,0,0,0-3.44727-.96924,6.54116,6.54116,0,0,0-4.67382,1.86573Q174.64063,41.03652,174.64014,45.4Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M193.91406,54.77357V35.44643h13.03906v2.28076H196.47168v5.98535H205.542V45.9933h-9.07031v8.78027Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M104.43164,62.06752h8.897a25.746,25.746,0,0,1,3.93946.21973,5.79585,5.79585,0,0,1,2.32275.91894,5.7036,5.7036,0,0,1,1.708,1.85938,5.03917,5.03917,0,0,1,.68359,2.60351,5.275,5.275,0,0,1-3.12793,4.82813,5.85933,5.85933,0,0,1,3.12793,2.01953,5.36148,5.36148,0,0,1,1.09278,3.35547,6.61845,6.61845,0,0,1-.70606,2.95312,5.94343,5.94343,0,0,1-1.92773,2.292,6.3698,6.3698,0,0,1-3.01368,1.05567q-1.12427.12158-5.42041.15137h-7.57568Zm4.49414,3.7041v5.14649h2.94531q2.62574,0,3.26416-.0752a2.973,2.973,0,0,0,1.814-.79785,2.34819,2.34819,0,0,0,.66064-1.73828,2.44532,2.44532,0,0,0-.56933-1.67774,2.57872,2.57872,0,0,0-1.69287-.78125q-.668-.07617-3.84131-.07617Zm0,8.85156v5.95118h4.15967a20.37031,20.37031,0,0,0,3.082-.13672,2.78127,2.78127,0,0,0,1.63184-.8877,2.73642,2.73642,0,0,0,.63037-1.89062,2.90471,2.90471,0,0,0-.48584-1.7002,2.74823,2.74823,0,0,0-1.4043-1.01758,15.30589,15.30589,0,0,0-3.98535-.31836Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M126.99268,84.32436V62.25014h4.49365V80.57436h11.17431v3.75Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M144.95264,73.33217a14.152,14.152,0,0,1,1.01757-5.708,10.47648,10.47648,0,0,1,2.07227-3.05176,8.67031,8.67031,0,0,1,2.87695-2.0039,12.22125,12.22125,0,0,1,4.79737-.88086,10.45151,10.45151,0,0,1,7.87207,3.05176q2.95239,3.05126,2.95312,8.48632,0,5.39063-2.93017,8.43457a10.37,10.37,0,0,1-7.834,3.04395,10.47467,10.47467,0,0,1-7.895-3.0293Q144.9524,78.64565,144.95264,73.33217Zm4.63086-.15137a8.33952,8.33952,0,0,0,1.7456,5.73145,6.00345,6.00345,0,0,0,8.84375.01465q1.72339-1.93506,1.72315-5.80665,0-3.82617-1.67774-5.709a6.21536,6.21536,0,0,0-8.93457.02246Q149.583,69.3395,149.5835,73.1808Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M169.1377,73.33217a14.152,14.152,0,0,1,1.01757-5.708,10.47648,10.47648,0,0,1,2.07227-3.05176,8.67031,8.67031,0,0,1,2.87695-2.0039,12.22125,12.22125,0,0,1,4.79737-.88086,10.44965,10.44965,0,0,1,7.87158,3.05176q2.95313,3.05126,2.95312,8.48632,0,5.39063-2.92968,8.43457a10.36855,10.36855,0,0,1-7.834,3.04395,10.47466,10.47466,0,0,1-7.895-3.0293Q169.13746,78.64565,169.1377,73.33217Zm4.63085-.15137a8.33953,8.33953,0,0,0,1.74561,5.73145,6.00289,6.00289,0,0,0,8.84326.01465q1.72266-1.93506,1.72461-5.80665,0-3.82617-1.67773-5.709a6.21651,6.21651,0,0,0-8.93555.02246Q173.76806,69.3395,173.76855,73.1808Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M194.17285,84.32436V62.06752h6.72559l4.03906,15.18164,3.99219-15.18164h6.74121V84.32436h-4.17481V66.80385l-4.418,17.52051H202.751l-4.40235-17.52051V84.32436Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M219.999,84.32436V62.06752h4.49317V84.32436Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M228.81934,84.32436V62.06752h4.37207l9.10937,14.86328V62.06752h4.17578V84.32436H241.9668l-8.97266-14.51465V84.32436Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M261.582,76.14076v-3.75h9.68652v8.86719a12.2122,12.2122,0,0,1-4.09179,2.40625,14.89036,14.89036,0,0,1-5.42774,1.04,12.17185,12.17185,0,0,1-6.08789-1.46582,9.31363,9.31363,0,0,1-3.90136-4.18945,13.53423,13.53423,0,0,1-1.30567-5.92872,12.81151,12.81151,0,0,1,1.457-6.17968,9.82026,9.82026,0,0,1,4.2666-4.14453,11.50305,11.50305,0,0,1,5.32813-1.1084,10.63709,10.63709,0,0,1,6.47559,1.73828,7.84956,7.84956,0,0,1,2.998,4.80566l-4.46289.835a4.71685,4.71685,0,0,0-1.76855-2.58886,5.34828,5.34828,0,0,0-3.24219-.94922,6.091,6.091,0,0,0-4.68359,1.86816,7.86263,7.86263,0,0,0-1.73829,5.541q0,3.9624,1.76172,5.94433a5.88023,5.88023,0,0,0,4.61524,1.98047,7.74135,7.74135,0,0,0,2.83105-.55371,9.685,9.685,0,0,0,2.43653-1.34375V76.14076Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M280.42383,84.32436V65.83217h-6.60449V62.06752h17.6875v3.76465H284.918V84.32436Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M292.93555,73.33217a14.161,14.161,0,0,1,1.0166-5.708,10.486,10.486,0,0,1,2.07226-3.05176,8.68521,8.68521,0,0,1,2.877-2.0039,12.22374,12.22374,0,0,1,4.79785-.88086,10.4515,10.4515,0,0,1,7.87207,3.05176q2.95313,3.05126,2.95312,8.48632,0,5.39063-2.93066,8.43457a10.36852,10.36852,0,0,1-7.834,3.04395,10.47357,10.47357,0,0,1-7.89454-3.0293Q292.93555,78.64565,292.93555,73.33217Zm4.62988-.15137a8.33959,8.33959,0,0,0,1.74609,5.73145,6.00345,6.00345,0,0,0,8.84375.01465q1.72266-1.93506,1.72364-5.80665,0-3.82617-1.67774-5.709a6.21536,6.21536,0,0,0-8.93457.02246Q297.56592,69.3395,297.56543,73.1808Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3Cpath d='M318.07715,84.32436V62.06752h4.37207l9.10937,14.86328V62.06752h4.17579V84.32436h-4.50977L322.252,69.80971V84.32436Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3C/g%3E%3Cpath id='logo' d='M65.75,23.9014v13.646l6.66-6.661v14.296l-6.648,6.336-6.674-7.149-7.462,7.148-6.508-6.823V31.0484l6.661,6.661V24.0634l-.079-.167,7.383,6.827ZM38.9448,34.7858l-4.549-4.55v5.848h-5.199l4.549,4.387-4.385,4.224h13.712V30.9688ZM84.7562,40.606l4.549-4.55h-5.847V30.858l-4.387,4.548-4.224-4.385V44.733h13.726ZM58.4131,91.0326l7.383,6.827-.079-.166V84.0466l6.661,6.661V77.0616l-6.508-6.823-7.463,7.148-6.673-7.149-6.649,6.337v14.295l6.661-6.661v13.646Zm20.1372-4.0614,4.55,4.548v-5.847h5.198l-4.548-4.387,4.385-4.224H74.4233v13.726ZM32.7399,81.1515l-4.549,4.549h5.847v5.198l4.387-4.548,4.224,4.385V77.0235H28.9229ZM29.5217,60.7066l-6.827,7.383.167-.079h13.646l-6.661,6.661h13.646l6.823-6.508-7.148-7.463,7.149-6.673-6.336-6.649H29.6847l6.661,6.661H22.6997Zm59.1773.6255,6.827-7.384-.167.079H81.714l6.66-6.661H74.728l-6.823,6.509,7.148,7.462-7.149,6.673,6.336,6.649H88.536l-6.66-6.66H95.522Z' transform='translate(-22.6947 -23.8964)' fill='%23265baa'/%3E%3C/svg%3E%0A");
}
main.login .login-wrapper .body {
  padding: 20px;
}
main.login .login-wrapper .form-group {
  margin: 0 0 20px 0;
}
main.login .login-wrapper form label {
  font-weight: 500;
  letter-spacing: 0;
  color: #212529;
}
main.login .login-wrapper form input:not([type=submit]) {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: #dbdbdb;
  color: #4f4f4f;
}
main.login .login-wrapper form input:not([type=submit]):-webkit-autofill::first-line {
  font-size: 16px;
  color: #4f4f4f;
}
main.login .login-wrapper form input:not([type=submit])::-webkit-input-placeholder {
  color: #4f4f4f;
}
main.login .login-wrapper form input:not([type=submit]):-ms-input-placeholder {
  color: #4f4f4f;
}
main.login .login-wrapper form input:not([type=submit])::placeholder {
  color: #4f4f4f;
}
main.login .login-wrapper form input[type=submit] {
  border-radius: 3px;
  text-transform: uppercase;
  margin: 0;
  border: none;
  background-color: #4cae4f;
  letter-spacing: 1.5px;
  padding: 10px 0;
}
main.staff {
  padding: 20px;
}
main.staff h2 {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}
main.staff table {
  color: #4f4f4f;
}
main.staff table thead tr {
  border-bottom: 1px solid #dbdbdb;
}
main.staff table thead tr th {
  padding: 10px;
  text-align: left;
  font-weight: 500;
}
main.staff table tbody tr {
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
}
main.staff table tbody tr:nth-child(even) {
  background: whitesmoke;
}
main.staff table tbody tr td {
  padding: 10px;
}
main.staff .button-group.tab-style {
  border-top: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 0;
  margin: 0 0 20px 0;
  justify-content: flex-start;
}
main.staff .button-group.tab-style li {
  margin: 0 10px -1px 0;
}
main.staff .button-group.tab-style li:last-child {
  margin: 0;
}
main.staff .button-group.tab-style li:focus, main.staff .button-group.tab-style li:hover, main.staff .button-group.tab-style li.active {
  background: white;
  color: #1e5aae;
}
main.staff .button-group.tab-style li:focus input, main.staff .button-group.tab-style li:hover input, main.staff .button-group.tab-style li.active input {
  background: white;
  color: #1e5aae;
}
main.staff .button-group.tab-style li input {
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: none;
  border-left: 1px solid #dbdbdb;
  background: white;
  font-size: 16px;
  padding: 12px 16px 8px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #8f8f8f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
main #moreInfo {
  border-top: 1px solid #dbdbdb;
  font-size: 16px;
  color: #4f4f4f;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
main .next-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
main .next-button:focus, main .next-button:hover {
  background: #449d48;
}
main .next-button.intro {
  margin: 10px 0 10px 0;
  display: inline-block;
}
main #next_div,
main .next_div {
  border-top: 1px solid #dbdbdb;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  color: #4f4f4f;
}
main #next_div p,
main .next_div p {
  font-weight: 400 !important;
  color: #4f4f4f;
  margin: 0;
  display: flex;
  align-items: center;
}
main #next_div input[type=button],
main #next_div button,
main #next_div .button,
main .next_div input[type=button],
main .next_div button,
main .next_div .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
main #next_div input[type=button]:focus, main #next_div input[type=button]:hover,
main #next_div button:focus,
main #next_div button:hover,
main #next_div .button:focus,
main #next_div .button:hover,
main .next_div input[type=button]:focus,
main .next_div input[type=button]:hover,
main .next_div button:focus,
main .next_div button:hover,
main .next_div .button:focus,
main .next_div .button:hover {
  background: #449d48;
}

form .button-group {
  border-bottom: none;
  margin: 10px 0 0 0 !important;
  padding: 10px 0 0 0 !important;
}

.button-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin: 10px 0;
  padding: 10px 0;
}
.button-group input[type=button],
.button-group button,
.button-group .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.button-group input[type=button]:hover, .button-group input[type=button]:focus,
.button-group button:hover,
.button-group button:focus,
.button-group .button:hover,
.button-group .button:focus {
  background: #449d48;
}

.autocomplete-wrapper {
  margin: 0 0 10px 0;
}

#address-full {
  margin: 5px 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  display: none;
  font-weight: 500;
  background: #c1e4c2;
  color: #1f4620;
}

#typeOptions ul,
.type-options ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
  padding: 0;
}
#typeOptions ul li,
.type-options ul li {
  background: #dbdbdb;
  border-radius: 3px;
  font-weight: 500;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
}

/*# sourceMappingURL=../css/style.css.map */
